<template>
  <div id="login">

  <img class="logo-img" src="../../../static/image/logo.png"/>

    <!--手机号-->
    <div class="input-box user-box">

      <input class="user-Input" placeholder="请输入手机号"/>

    </div>

    <!--验证码-->

    <div class="input-box code-box">

      <div style="flex: 1;border-bottom: 1px solid #c6c6c6;margin-right: 0.21rem">
        <input class="code-Input" placeholder="请输入手机验证码"/>
      </div>

      <div class="send-button">获取验证码</div>

    </div>






  </div>
</template>

<script>
export default {
  name: 'login',
  data () {
    return {

    }
  },
  created: function() {  //在vue初始化时调用
  },
  methods:{},
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  #login{
    width: 100%;
    height: 100%;
    padding-top: 2.88rem;
    box-sizing: border-box;
  }
  .logo-img{
    width: 5.97rem;
    height: 1.85rem;
    display: block;
    margin: 0 auto 0 auto;
  }
  .input-box{
    width: 5.97rem;
    height: 0.87rem;
    margin: 0 auto;
  }
  .user-box{
    border-bottom: 1px solid #c6c6c6;
    margin-top: 0.62rem;
    display: flex;
  }
  /*用户名样式*/
  .user-Input{
    width: 80%;
    height: 0.65rem;
    line-height: 0.65rem;
    font-size: 0.32rem;
    display: block;
    margin: auto 0;
    outline: none;
  }

  /*验证码*/
  .code-box{
    display: flex;
    margin-top: 0.2rem;
    justify-content: space-between;
  }
  .send-button{
    width: 2.06rem;
    height: 0.87rem;
    background: #3fa536;
    color: white;
    text-align: center;
    line-height: 0.87rem;
    font-size: 0.3rem;
  }
  .code-Input{
    flex: 1;
    height: 0.65rem;
    line-height: 0.65rem;
    font-size: 0.32rem;
    display: block;
    margin: auto 0.28rem auto 0;
    outline: none;
  }
</style>
